@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.img-aboutus{
    margin-bottom: 10px;
    width: 100%;
}

.box-grey{
    text-align: center;
    width: 98%;
    background-color: #d4d4d8;
    font-family: "Poppins", sans-serif;
}